<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div >
                <div class="card">
                    <div class="header">
                        <h4 class="title">Tagesansicht 0 - 24 Uhr</h4>
                        <!--<p class="category">Backend development</p>-->
                    </div>
                    <div class="content">
                        <app-day-chart></app-day-chart>
                    </div>
                </div>
            </div>
            <!--<div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Tasks</h4>
                        <p class="category">Backend development</p>
                    </div>
                    <div class="content">

                    </div>
                </div>
            </div>-->
        </div>
    </div>
</div>
