name: build-and-archive-angular-app
on: [push]
jobs:
  build-test:
    runs-on: "ubuntu-latest"
    steps:    
      - name: Checkout repository
        uses: "actions/checkout@v2"
      - name: Setup Node-Environment
        uses: "actions/setup-node@v2"
        with:
          node-version: '19'
      - name: Build optimized web application
        run: |
          npm ci --legacy-peer-deps
          npm run build --prod
      - name: Archive production artifacts
        uses: actions/upload-artifact@v3
        with:
          name: dist
          path: dist 

  push_to_registry:
    name: Push image to GitHub Container Registry
    runs-on: ubuntu-latest
    needs: build-test

    steps:
      # Get the repository's code
      - name: Checkout
        uses: actions/checkout@v2
      # https://github.com/docker/setup-qemu-action
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      # https://github.com/docker/setup-buildx-action
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to GHCR
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Docker meta
        id: latest # you'll use this in the next step
        uses: docker/metadata-action@v3
        with:
          # list of Docker images to use as base name for tags
          images: |
            ghcr.io/2110780006/fppss-frontend
          # Docker tags based on the following events/attributes
          tags: |
            type=schedule
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=sha
      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          platforms: linux/amd64,linux/arm64v8
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.latest.outputs.tags }}
          labels: ${{ steps.latest.outputs.labels }}
